.background {
    background-image: url(FIST-IND-CR/img/creek.JPG);
}
.tip-top {
    height: 275px;
    background-image: linear-gradient(to bottom, yellow,rgb(145, 77, 194));
}
.top-picture {
    width: 275px;
    margin: auto;
    height: auto;
    display: block;
}

.banner {
    border-bottom: 2px solid black;
    text-align: center;
    align-items: center;
    display:block
}
.sidebar {
    width: 20%;
    float: left;
}
.about {
    background-image: linear-gradient(to bottom, rgb(145, 77, 194),green);
    vertical-align: top;
    align-items: left;
    text-align: left;
    border: 2px solid gray;
    padding: 20px;
    display: inline-block;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    box-sizing: border-box;
}

#wrap {
    text-align: right;
}

.music {
    background-image: linear-gradient(to bottom, green, lightgray);
    vertical-align: top;
    text-align: left;
    border: 2px solid gray;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
}

.right-space {
    background-image: linear-gradient(to bottom, lightgray, rgb(204, 154, 45));
    vertical-align: top;
    text-align: left;
    border: 2px solid gray;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
}
.middle-pic {
    width: 275px;
    margin: auto;
}

.column {
    width: 300px;
    height: 500px;
}

.italic {
    font-style: italic;
}

.highlight {
    background-color: yellow;
}

.banner2 {
    border: 2px solid black
    padding 10px;
    display: block;
    margin: auto;
    width: 50%;
    box-sizing: border-box;
}