.banner {
    border-bottom: 2px solid black;
    text-align: center;
    align-items: center;
    display:block
}

.about {
    vertical-align: top;
    align-items: left;
    text-align: left;
    border: 2px solid gray;
    padding: 20px;
    display: inline-block;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    box-sizing: border-box;
}

.music {
    align-items: right;
    text-align: left;
    border: 2px solid gray;
    padding: 20px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.middle-pic {
    float: left;
    vertical-align: top;
    transform: scale(50%, 50%);
    display: inline-block;
    box-sizing: border-box;
}

.column {
    width: 300px;
    height: 500px;
}

.italic {
    font-style: italic;
}

.highlight {
    background-color: yellow;
}

.banner2 {
    border: 2px solid black
    padding 10px;
    display: block;
    margin: auto;
    width: 50%;
    box-sizing: border-box;
}